/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(207, 121, 56); /* Greige background color */
    margin-top: 60px;
}

/* Add animation for fading in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Slideshow container */
.slideshow {
    max-width: 50%; /* Set maximum width for slideshow */
    position: relative;
    margin-bottom: 20px;
}

/* Hide all slides by default */
.slideshow img {
    display: none;
}

/* Show the first slide */
.slideshow img:first-child {
    display: block;
}

/* Previous & next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Project section styles */
.project {
    margin-bottom: 40px;
    padding: 20px; /* Add padding */
}

/* Position left slideshow */
.left-slideshow {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px; /* Add padding */
}

/* Position right slideshow */
.right-slideshow {
    display: flex;
    flex-direction: row;
    padding-left: 20px; /* Add padding */
}

/* Project description */
.project-description {
    max-width: 50%; /* Set maximum width for project description */
}

/* Link styles */
.project-description a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(231, 73, 11);
}

/* Apply the animation to each project */
.project {
    animation: fadeIn 0.5s ease forwards;
    opacity: 0; /* Initially set opacity to 0 */
    animation-delay: 0.5s; /* Delay each animation */
}

.project:nth-child(odd) .left-slideshow {
    order: 1;
}

.project:nth-child(odd) .project-description {
    order: 2;
}

.project:nth-child(even) .right-slideshow {
    order: 1;
}

.project:nth-child(even) .project-description {
    order: 2;
}

/* Navbar styles */
nav ul li.active {
    background-color: #534418; /* Highlighted background color for active menu item */
    border-radius: 5px; /* Optional: Add rounded corners */
}

nav ul li a {
    color: #fff; /* Change text color to white */
    text-decoration: none;
}

nav ul li a:hover {
    color: #e7e498; /* Change text color on hover */
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #292828; /* Add a background color if needed */
    z-index: 1000; /* Make sure it's on top of other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

header h1 {
    margin: 0;
    font-size: 32px;
    margin-right: 20px; /* Add some space between the logo and the navigation */
    text-decoration: none; 
    color: inherit; 
}

header h1 a {
    text-decoration: none !important; /* Remove underline */
    color: inherit; /* Use the default color */
}

nav {
    margin-left: auto; /* Push the menu bar to the right */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white; /* Greige navigation link color */
}

nav ul li a.active {
    color: #ffc107; /* Active link color */
}

nav ul li a .emoji {
    transition: transform 0.3s, font-size 0.3s;
}

nav ul li:hover .emoji {
    transform: rotate(45deg) scale(1.5); /* Rotate by 45 degrees and scale up */
}

/* Section styles */
section {
    padding: 20px;
    background-color: #d3d3d3; /* Light greige section background color */
    margin: 20px;
    border-radius: 10px;
}

section h2 {
    color: #6c757d; /* Section title color */
}

section h3 {
    color: #495057; /* Subsection title color */
}

.fadeOut {  
    opacity: 0;
    transition: opacity 0.5s ease-out; /* Adjust duration to match JavaScript */
}
section {
    padding: 20px;
    background-color: rgb(154, 154, 154); /* Change background color to cyan */
    margin: 20px;
    border-radius: 10px;
}
